# Subsetting and Descriptive Stats

## Before your start:
   - Remember that you just need to do one of the challenges.
   - Keep in mind that you need to use some of the functions you learned in the previous lessons.
   - All datasets are provided in IronHack's database.
   - Elaborate your codes and outputs as much as you can.
   - Try your best to answer the questions and complete the tasks and most importantly: enjoy the process!
   
#### Import all the necessary libraries here:

In [3]:
import pandas as pd

# Challenge 1
#### In this challenge we will use the `Temp_States`  dataset. 

#### First import it into a dataframe called `temp`.

In [10]:
url = "https://raw.githubusercontent.com/ta-data-par/DAFT_0307/main/module_2/Lab_10_Subsetting-and-Descriptive-Statistics/Temp_States.csv"
temp = pd.read_csv(url)

#### Print `temp`.

In [11]:
print(temp)

         City        State  Temperature
0         NYC     New York    19.444444
1      Albany     New York     9.444444
2     Buffalo     New York     3.333333
3    Hartford  Connecticut    17.222222
4  Bridgeport  Connecticut    14.444444
5      Treton   New Jersey    22.222222
6      Newark   New Jersey    20.000000

#### Explore the data types of the *temp* dataframe. What types of data do we have? Comment your result.

In [38]:
print(temp.dtypes)

City            object
State           object
Temperature    float64
dtype: object

In [ ]:
"""
your comments here
"""

#### Select the rows where state is New York.

In [13]:
ny_temp = temp[temp['State'] == 'New York']  # Vérifiez si la colonne s'appelle 'State' ou 'state'

#### What is the average temperature of cities in New York?

In [14]:
avg_temp_ny = ny_temp['Temperature'].mean()  # Vérifiez si la colonne s'appelle 'Temperature' ou 'temperature'
print(avg_temp_ny)

10.74074074074074

#### Which states and cities have a temperature above 15 degrees Celsius?

In [15]:
above_15 = temp[temp['Temperature'] > 15]
print(above_15)

       City        State  Temperature
0       NYC     New York    19.444444
3  Hartford  Connecticut    17.222222
5    Treton   New Jersey    22.222222
6    Newark   New Jersey    20.000000

#### Now, return only the cities that have a temperature above 15 degrees Celsius.

In [16]:
cities_above_15 = above_15['City']  # Vérifiez si la colonne s'appelle 'City' ou 'city'
print(cities_above_15)

0         NYC
3    Hartford
5      Treton
6      Newark
Name: City, dtype: object

#### Which cities have a temperature above 15 degrees Celcius and below 20 degrees Celsius?

**Hint**: First, write the condition. Then, select the rows.

In [17]:
cities_15_20 = temp[(temp['Temperature'] > 15) & (temp['Temperature'] < 20)]['City']
print(cities_15_20)

0         NYC
3    Hartford
Name: City, dtype: object

#### Find the mean and standard deviation of the temperature of each state.

In [18]:
mean_temps = temp.groupby('State')['Temperature'].mean()
std_temps = temp.groupby('State')['Temperature'].std()

print("Mean temperatures:\n", mean_temps)
print("\nStandard deviations:\n", std_temps)

Mean temperatures:
 State
Connecticut    15.833333
New Jersey     21.111111
New York       10.740741
Name: Temperature, dtype: float64

Standard deviations:
 State
Connecticut    1.964186
New Jersey     1.571348
New York       8.133404
Name: Temperature, dtype: float64

#  Challenge 2

#### Load the `employees` dataset into a dataframe. Call the dataframe `employees`.

In [21]:
url = "https://raw.githubusercontent.com/GuillaumeCapelli/DAFT_0307/main/module_2/Lab_10_Subsetting-and-Descriptive-Statistics/Employees.csv"
employees = pd.read_csv(url)

#### Explore the data types of the `employees` dataframe. Comment your results.

In [22]:
dtypes = employees.dtypes
print(dtypes)

Department    object
Education     object
Title         object
Name          object
Years          int64
Salary         int64
dtype: object

In [ ]:
"""
we can see the data types for each column in the dataframe
"""

#### What's the average salary in this company?

In [23]:
avg_salary = employees['Salary'].mean()
print(avg_salary)

73.528

#### What's the highest salary?

In [24]:
max_salary = employees['Salary'].max()
print(max_salary)

120

#### What's the lowest salary?

In [25]:
min_salary = employees['Salary'].min()
print(min_salary)

30

#### Who are the employees with the lowest salary?

In [26]:
lowest_salary_employees = employees[employees['Salary'] == min_salary]
print(lowest_salary_employees)

    Department Education      Title      Name  Years  Salary
27          IT  Bachelor    Analyst      Sean     12      30
106      Admin  Bachelor  associate      Luke      4      30
128      Sales       PhD         VP      Adam      8      30
139      Sales       PhD    Analyst      Rick     11      30
214      Sales    Master         VP      Neil     11      30
266         HR       PhD  associate    Marcel     10      30
452         IT  Bachelor    Analyst  Augustin     13      30

#### Find all the information about an employee called David.

In [27]:
david_info = employees[employees['Name'] == "David"]
print(david_info)

    Department Education      Title   Name  Years  Salary
0        Admin    Master  associate  David      4      58
124         IT  Bachelor         VP  David      3      31

#### Could you return only David's salary?

In [28]:
david_salary = employees[employees['Name'] == "David"]['Salary'].values[0]
print(david_salary)

58

#### Print all the rows where job title is associate.

In [29]:
associate_rows = employees[employees['Title'] == "associate"]
print(associate_rows)

    Department Education      Title      Name  Years  Salary
0        Admin    Master  associate     David      4      58
1           IT    Master  associate    Thomas      7      45
2        Admin    Master  associate     Diana     10      52
7           HR    Master  associate     Carol     14      53
8        Admin       PhD  associate      Jean      8      50
..         ...       ...        ...       ...    ...     ...
477         HR       PhD  associate   Phillip     11     113
486         IT  Bachelor  associate       Jay     14      58
487         HR    Master  associate  Patricia     10     110
491      Admin       PhD  associate     Alice      8      37
494      Sales  Bachelor  associate   Vanessa     11     118

[158 rows x 6 columns]

#### Print the first 3 rows of your dataframe.
**Tip**: There are 2 ways to do it. Do it both ways.

In [30]:
# Method 1
print(employees.head(3))

  Department Education      Title    Name  Years  Salary
0      Admin    Master  associate   David      4      58
1         IT    Master  associate  Thomas      7      45
2      Admin    Master  associate   Diana     10      52

In [31]:
# Method 2
print(employees.iloc[:3])

  Department Education      Title    Name  Years  Salary
0      Admin    Master  associate   David      4      58
1         IT    Master  associate  Thomas      7      45
2      Admin    Master  associate   Diana     10      52

#### Find the employees whose title is associate and whose salary is above 55.

In [32]:
selected_employees = employees[(employees['Title'] == "associate") & (employees['Salary'] > 55)]
print(selected_employees)

    Department Education      Title      Name  Years  Salary
0        Admin    Master  associate     David      4      58
9        Admin    Master  associate    Kareem      3     104
10       Admin    Master  associate   Cynthia      1     114
16       Admin  Bachelor  associate    Shanon      1      99
18       Admin  Bachelor  associate     Megan      9      79
..         ...       ...        ...       ...    ...     ...
476      Admin       PhD  associate      Greg      8      93
477         HR       PhD  associate   Phillip     11     113
486         IT  Bachelor  associate       Jay     14      58
487         HR    Master  associate  Patricia     10     110
494      Sales  Bachelor  associate   Vanessa     11     118

[104 rows x 6 columns]

#### Group the employees by number of years of employment. What are the average salaries in each group?

In [33]:
avg_salary_by_years = employees.groupby('Years').agg({'Salary': 'mean'})
print(avg_salary_by_years)

          Salary
Years
1      75.863636
2      75.857143
3      74.571429
4      77.129032
5      73.857143
6      72.382353
7      73.840000
8      64.250000
9      76.741935
10     73.351351
11     74.866667
12     73.454545
13     71.935484
14     70.968750
15     69.758621

####  What is the average salary per title?

In [34]:
avg_salary_by_title = employees.groupby('Title').agg({'Salary': 'mean'})
print(avg_salary_by_title)

              Salary
Title
Analyst    73.703911
VP         72.907975
associate  73.968354

####  Find the salary quartiles.

In [35]:
salary_quartiles = employees['Salary'].quantile([0.25, 0.5, 0.75])
print(salary_quartiles)

0.25    50.0
0.50    72.0
0.75    97.0
Name: Salary, dtype: float64

#### Is the mean salary different per gender?

In [ ]:
"It's impossible to answer this question."
"We don't have a gender column and no information to create one"

#### Find the minimum, mean and maximum of all numeric columns for each company department.

In [41]:
stats_by_department = employees.groupby('Department')[['Years', 'Salary']].agg(['min', 'mean', 'max'])
print(stats_by_department)

           Years               Salary
             min      mean max    min       mean  max
Department
Admin          1  7.642276  15     30  76.325203  120
HR             1  7.172131  15     30  74.237705  119
IT             1  8.141791  15     30  70.671642  120
Sales          1  7.206612  15     30  73.132231  120

#### Bonus Question:  for each department, compute the difference between the maximum and the minimum salary.
**Hint**: try using `agg` or `apply` combined with `lambda` functions.

In [ ]:
# your code here

# Challenge 3
#### Open the `Orders` dataset. Name your dataset `orders`.

In [ ]:
# your code here

#### Explore your dataset by looking at the data types and summary statistics. Comment your results.

In [ ]:
# your code here

In [ ]:
"""
your comments here
"""

####  What is the average purchase price?

In [ ]:
# your code here

#### What are the highest and lowest purchase prices?

In [ ]:
# your code here

#### Select all the customers from Spain.
**Hint**: Remember that you are not asked to find orders from Spain but customers. A customer might have more than one order associated.

In [ ]:
# your code here

#### How many customers do we have in Spain?

In [ ]:
# your code here

#### Select all the customers who have bought more than 50 items.
**Hint**: Remember that you are not asked to find orders with more than 50 items but customers who bought more than 50 items. A customer with two orders of 30 items each should appear in the selection.

In [ ]:
# your code here

#### Select orders from Spain that include more than 50 items.

In [ ]:
# your code here

#### Select all free orders.

In [ ]:
# your code here

#### Select all orders whose description starts with `lunch bag`.
**Hint**: use string functions.

In [ ]:
# your code here

#### Select all `lunch bag` orders made in 2011.

In [ ]:
# your code here

#### Show the frequency distribution of the amount spent in Spain.

In [ ]:
# your code here

#### Select all orders made in the month of August.

In [ ]:
# your code here

#### Find the number of orders made by each country in the month of August.
**Hint**: Use value_counts().

In [ ]:
# your code here

#### What's the  average amount of money spent by country?

In [ ]:
# your code here

#### What's the most expensive item?

In [ ]:
# your code here

#### What is the average amount spent per year?

In [ ]:
# your code here